.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
bringup/__pycache__/
test/results.xml
test/gate_level_netlist.v

sw/*.elf
fpga/build/
fpga/test/sim_build/
fpga/test/results*.xml
fpga/test/sim_build_hello/
